body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(16, 46, 85);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-