body {
    background-color: lightcoral;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh; /* Garante que o corpo ocupa a altura total da janela */
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    border: solid;
    border-radius: 100px;
}
